/*HEADER INFO*/
.Header {
  display: block;
  width: 100%;
  background-color: red;
}

.MenuItem {
  display: inline-block;
  float: right;
  background-color: grey;
  padding: 1em;
}

.Logo, .Title {
  display: inline-block;
  background-color: grey;
  left: 0;
  padding: 1em;
}
