* {
    margin: 0;
    padding: 0;
}

.Home {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Home-Title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  color: #133863;
}

/* PROFILE DASHBOARD */
.Profile-Overview  {
    display: block;
    background-color: rgb(240, 240, 240) !important;
}

.Profile-Account-Transactions {
  background-color: white;
}

.Profile-Picture {
    display: inline-block;
    padding: 2em 0em 2em 2em;
}

.Profile-Picture img {
    width: 8em;
}

.Profile-Account-Info {
    display: inline-block;
    padding: 2em;
    vertical-align: top;
}

.Profile-Account-Info p {
    margin-bottom: 0.5em;
}

.Profile-Account-QR {
    display: inline-block;
    float: right;
    margin: 2em;
}

.Profile-Account-QR img {
    width: 8em;
}

/*PROFILE OVERVIEW HEADER*/
.Profile-Overview-Header {
    width: 100%;
    overflow: hidden;
}

.Profile-Balance {
  font-size: 1.5em;
  font-weight: bold;
}

.Buying-post {
  margin: 1em;
  background-color: rgb(230, 230, 230);
}

.Selling-post {
  margin: 1em;
  background-color: rgb(230, 230, 230);
}

.Selling-post-text {
  padding: 1em;
}


.Buying-post-text-val {
  color: red;
}

.Selling-post-text-val {
  color: green;
}

.Buying-post-text {
  padding: 1em;
}
