.Account-Balance {
    position:fixed;
    right:-0.5em;
    top: 5em;
    width: 5em;
    padding:1em;
    margin-right: -2em;
    border-radius: 50%;
    background: red;
}
.Marketplace-Title{
}

.Market {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Market-post {
  display: block;
  width: 40em;
  height: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  border: 2px solid black;
}

.Market-post-img {
  display: inline-block;
  height: 10em;
}

.Market-post-text {
  display: inline-block;

}
